.post_title {
	font-size: 22px;
}

.post_tag {
	border-radius: 4px;
	padding: 0px 4px 0px 4px;
	background-color: #FD971F;
	color: white;
}

.post_date {
	color: #75715E;
}

.post_description {
	margin-top: 0;
	padding-left: 20px;
	text-align: justify;
	color: #FD971F;
}

#home_content ul {
	border-left: 1px solid #75715E;
}
