.notes_content {
	background-color: #F8F8F2;
	color: #272822;
	padding: 1% 2%;
	border-bottom: 4px solid #55510E;
	border-left: 5px solid #75715E;
}

.codehilite {
	margin: 0 auto;
	border-left: 3px solid #75715E;
	width: 80%;
	padding: 1px 10px;
}

.post_title {
	color: #46B9CF;
	margin-bottom: 0;
	margin-top: 5px;
}

.post_tag {
	border-radius: 4px;
	padding: 0px 4px 0px 4px;
	background-color: #FD971F;
	color: white;
}

.bar_separator {
	margin: 5mm auto;
	display: block;
	width: 90%;
	height: 1px;
	background-color: #75715E;
}

.post_date {
	color: #75715E;
}

.post_description {
	margin-top: 10px;
	margin-bottom: 0;
	text-align: justify;
	color: #FD971F;
	font-size: 14px;
}