.gradient {
  height: 20px;
  position: relative;
  width: 100%;
  background: radial-gradient(ellipse farthest-side at top center, rgba(253,151,31,.09), transparent);
}

.gradient:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    height: 2px;
    background: linear-gradient(left, transparent, rgba(39,40,34,.04), rgba(39,40,34,.04), transparent);
}