/* --------------------------------------------------------------
|| ./static/css/style.css
\\ ____________________________________________________________*/
body {
  font-family:Arial, Helvetica, sans-serif;
  margin:0 auto;
  width:100%;
  background-color:black;
  color:#EEE;
}

p {text-align:justify;}
a {text-decoration:none; color:#46B9DF;} 
a:hover {text-decoration: underline;}

#navbar {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: #EEE;
  width: 128px;
  height: 100%;
  position: fixed;
}

#navbar li > a {
  display: block;
  padding: 8px 16px;
  color: #000;
}

#navbar li a:hover:not(.active_tab) { 
  background-color: #BBB;
}

.active_tab {
  background-color: #000;
  color: #EEE !important;
}
