---
title: Teaching
layout: default
---

<h2 class="m-header">Courses</h2>
<table>
  {% for course in site.data.courses %}
  <tr>
    {% if course[1].subfolder %}
      <td><a href={{course[0]}}>{{course[1].title}}</a></td>
    {% else %}
      <td>{{course[1].title}}</td>
    {% endif %}
    <td class="footnotesize">{{course[1].institute}}</td>
    <td class="dimmed-text">{{course[1].notes}}</td>
  </tr>
  {% endfor %}
</table>

<br>

<h2 class="m-header">Supervision</h2>

<table>
  {% for student in site.data.students %}
  <tr>
    <td class="highlight">{{student.name}}</td>
    <td class="footnotesize">
      {% if student.thesis_url != "#" %}
        <i><a href={{student.thesis_url}}>"{{student.thesis}}"</a></i>
      {% else %} 
        <i>"{{student.thesis}}"</i>
      {% endif %} 
    </td>
    <td class="footnotesize">({{student.year}}, {{student.level}}, {{student.where}})</td>
    <td class="dimmed-text">{{student.notes}}</td>
  </tr>
  {% endfor %}
</table>